.list-cell {
  -fx-padding: 0px;
}

.scroll-bar {
  background-color: transparent; 
  -fx-background-color: transparent; 
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent; 
  -fx-padding: 0; 
  -fx-shape: "";
}

.scroll-bar .increment-arrow, 
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent; 
}

.scroll-bar .track{
  -fx-background-color: rgb(32, 32, 32); 
}

.scroll-bar .thumb {
  -fx-background-color: rgb(74, 223, 146); 
  -fx-background-radius: 5px; 
  -fx-padding: 0;
  -fx-pref-width: 6px; 
  -fx-pref-height: 6px; 
}

.scroll-bar:hover .thumb {
  -fx-background-color: rgba(74, 223, 146, 0.56); 
}